<div class="container">
  <h2>Login Page</h2>
  <br />
  <div class="login">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <label for="identity"><b>Username </b> </label>
      <input
        type="text"
        name="identity"
        id="identity"
        placeholder="Username"
        required
        [(ngModel)]="identity"
        />
      <br /><br />
      <label for="password"><b>Password </b> </label>
      <input
        type="Password"
        name="password"
        id="password"
        placeholder="Password"
        required
        [(ngModel)]="password"
        />
      <br /><br />
      <input
        type="submit"
        name="login"
        id="login"
        value="Sign In"
        [disabled]="!loginForm.form.valid"
      />
    </form>
  </div>
</div>
