ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #999999;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li:hover, .router-link-active {
  background-color: #333333;
  cursor: pointer;
}

.container {
    padding: 20px;
}