<ul>
    <li [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</li>
    <li [routerLink]="['/employee']" routerLinkActive="router-link-active" >Employee</li>
</ul>
<div class="container">
    <router-outlet></router-outlet>
</div>
